@font-face {
  font-family: "SF Pro Black";
  src: url("/fonts/SF Pro Display/SF-Pro-Display-Black.otf");
}
@font-face {
  font-family: "SF Pro Bold";
  src: url("/fonts/SF Pro Display/SF-Pro-Display-Bold.otf");
}
@font-face {
  font-family: "SF Pro Heavy";
  src: url("/fonts/SF Pro Display/SF-Pro-Display-Heavy.otf");
}
@font-face {
  font-family: "SF Pro Light";
  src: url("/fonts/SF Pro Display/SF-Pro-Display-Light.otf");
}
@font-face {
  font-family: "SF Pro Medium";
  src: url("/fonts/SF Pro Display/SF-Pro-Display-Medium.otf");
}
@font-face {
  font-family: "SF Pro Regular";
  src: url("/fonts/SF Pro Display/SF-Pro-Display-Regular.otf");
}
@font-face {
  font-family: "SF Pro Semibold";
  src: url("/fonts/SF Pro Display/SF-Pro-Display-Semibold.otf");
}
@font-face {
  font-family: "SF Pro Semibold";
  src: url("/fonts/SF Pro Display/SF-Pro-Display-Semibold.otf");
}
@font-face {
  font-family: "SF Pro Ultralight";
  src: url("/fonts/SF Pro Display/SF-Pro-Display-Ultralight.otf");
}
@font-face {
  font-family: "TT travels";
  src: url("/fonts/TT Travels Next Trial/TT Travels Next Trial.ttf");
}
