body {
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
  $primary-color: #1c4d3d;
  $primary-black: #000000;
  $primary-white: #f5f5dc;
  $element-color: #a0c2b9;
  $element-color2: #d3f4d1;

  $primary-font: "SF Pro Regular";

  font-family: $primary-font;
  color: $primary-white;
  background-color: $primary-black;
}
